@import url(../vendor/uikit/css/uikit.min.css);


/*
    UIkit overrides
*/

.uk-navbar { background: none; }

.uk-navbar-nav > li > a {
    color: #999;
}

.uk-navbar-nav > li > a:hover { background: none; }
.uk-navbar-nav > li.uk-active > a { background: #fff; }

.uk-navbar-brand { font-weight: bold; }

.uk-button,
.uk-alert,
.uk-badge,
.uk-panel-box,
.uk-tooltip,
.uk-dropdown,
.uk-thumbnail,
.uk-modal-dialog,
.uk-form select,
.uk-form textarea,
.uk-form input[type="text"],
.uk-form input[type="password"],
.uk-form input[type="datetime"],
.uk-form input[type="datetime-local"],
.uk-form input[type="date"],
.uk-form input[type="month"],
.uk-form input[type="time"],
.uk-form input[type="week"],
.uk-form input[type="number"],
.uk-form input[type="email"],
.uk-form input[type="url"],
.uk-form input[type="search"],
.uk-form input[type="tel"],
.uk-form input[type="color"] {
    border-radius: 3px;
}

.uk-button {
    min-height: 50px;
    padding: 0 28px;
    line-height: 50px;
    font-size: 18px;
    background: none;
    color: #444;
    border: 1px #444 solid;
}

.uk-button:hover {
    background-color: #f7f7f7;
}

.uk-button:active, .uk-button.uk-active {
    background-color: #222;
    color: #fff;
}

.uk-button.uk-button-large {
    min-height: 45px;
    padding: 0 35px;
    line-height: 45px;
    font-size: 18px;
}


/*
    Theme CSS
*/

*, *:before, *:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
    background: #fff;
}

pre {
    background: #222;
    color: #999;
    border-radius: 3px;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: bold;
}

a { color: #72bdfd; }

.site-header {
    padding: 20px 0;
    border-bottom: 1px #e5e5e5 solid;
}

.site-main {
    padding: 40px 0;
    min-height: 350px;
}

.site-footer {
    padding: 40px 0;
}


.site-nav-main {
    margin-top: 10px;
}

.site-nav-main .nav-secondary a {
    font-weight: bold;
    color: #000;
}

.site-nav-main .nav-secondary a:hover {
    color: red;
}
